# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
SHELL=/bin/bash
PATH=/usr/bin:/bin:/sbin:/usr/local/bin
*/1 * * * * flock -n /tmp/fetchbags.lockfile -c "bash /home/ubuntu/bagsintrees/fetch_bags.sh >> /var/log/cronlog.log"