<div id="page-about" class="bags-page">
        <h4>About Bags In Trees</h4>
        <div class="thick-hr"></div>

        <p><img src="../img/about-bag-med.jpg" class="inline-img-right pull-right" id="about-img">
      

        &emsp;&emsp;&emsp;&emsp;&emsp;Several years ago, my daily walk to work took me along Atlantic Ave., a main thouroughfare in the city of Boston. One day, I noticed a plastic bag attached to a branch in a tree along the side of the road. It waved back and forth in the wind, trapped by the branches. I walked past that same bag day after day, thinking "surely the city goes around and plucks them out of the trees." Spring came and my bag was obscured by the leaves of the tree and I forgot about it. Come Autum, the tree shed its foliage and my bag was visible again, looking no worse for wear.<br/><br/>

        &emsp;&emsp;&emsp;&emsp;&emsp;I began to see bags in trees everywhere I went; not just in Boston. I was seeing bags caught in trees in cities all across the United States. Nobody was cleaning them up - nobody seemed to even be noticing them!<br/><br/>

        &emsp;&emsp;&emsp;&emsp;&emsp;Plastic bags that end up in bodies of water are harmful to aquatic life and birds. Once in the water, they often go un-noticed. Plastic bags caught in trees serve as an indicator of the level of plastic bag pollution in an area. Through BagsInTrees.org, we can highlight plastic bag pollution throughout the world and provide a more convincing argument for reducing or eliminating the use of plastic bags.</p>

        <p>- Jim Clouse, January 2014</p>
</div>
<div ng-include="'views/footer.html'"></div>