<div id="page-about" class="bags-page">
        <h4>About Bags In Trees</h4>
        <div class="thick-hr"></div>
        <p>&emsp;&emsp;&emsp;&emsp;&emsp;Several years ago, my daily walk to work took me along Atlantic Ave., a main thouroughfare in the city of Boston. One day, I noticed a plastic bag attached to a branch in a tree along the side of the road. It waved back and forth in the wind, trapped by the branches. I walked past that same bag day after day, thinking "surely the city goes around and plucks them out of the trees." Spring came and my bag was obscured by the leaves of the tree and I forgot about it. Come Autum, the tree shed its foliage and my bag was visible again, looking no worse for wear.</p>

        <p>&emsp;&emsp;&emsp;&emsp;&emsp;I began to see bags in trees everywhere I went; not just in Boston. I was seeing bags caught in trees around the United States and in Europe and South America. Nobody was cleaning them up - nobody seemed to even be noticing them! While I wasn't about to rent a big pole and drive around Boston pulling bags out of trees, I thought I could at least bring the issue to light. Bags In Trees is my attempt to increase public awareness of plastic pollution.</p>

        <p>- Jim Clouse, January 2014</p>
</div>
<div ng-include="'views/footer.html'"></div>