<div class="bags-page" id="page-faq">
    <div class="container-fluid">
        <div class="question">
            <h3>Why Bags In Trees?</h3>
            <p>Plastic pollution is a major environmental concern. Both on land and in the oceans...</p>
        </div>
        <div class="question">
            <h3>My Instagram didn't show up on the map where I took it. What happened?</h3>
            <p>When you take a photo with the Instagram app, it records your location when you submit the photo. This is after you have applied all filters and added your message and tag. If you took the photo with the Instagram app and continued walking, sending it two blocks down the street, it will show up two blocks down the street.</p>
            <p>Thankfully your iPhone made a copy of the image and recorded its true location. If this happens, simply delete the photo from Instagram and add it again, this time selecting it from your iPhone camera roll.</p>
        </div>
        <div class="question">
            <h3>Why bother?</h3>
            <p>For the most part, plastic bags stuck in trees are not harmful, but they are rather unsightly. However, the real benefit to mapping all of the bags in trees is the awareness that it brings to the problem of litter in our cities.</p>
        </div>
         <div class="question">
            <h3>Why bother?</h3>
            <p>For the most part, plastic bags stuck in trees are not harmful, but they are rather unsightly. However, the real benefit to mapping all of the bags in trees is the awareness that it brings to the problem of litter in our cities.</p>
        </div>
         <div class="question">
            <h3>Why bother?</h3>
            <p>For the most part, plastic bags stuck in trees are not harmful, but they are rather unsightly. However, the real benefit to mapping all of the bags in trees is the awareness that it brings to the problem of litter in our cities.</p>
        </div>
         <div class="question">
            <h3>Why bother?</h3>
            <p>For the most part, plastic bags stuck in trees are not harmful, but they are rather unsightly. However, the real benefit to mapping all of the bags in trees is the awareness that it brings to the problem of litter in our cities.</p>
        </div>
         <div class="question">
            <h3>Why bother?</h3>
            <p>For the most part, plastic bags stuck in trees are not harmful, but they are rather unsightly. However, the real benefit to mapping all of the bags in trees is the awareness that it brings to the problem of litter in our cities.</p>
        </div>
         <div class="question">
            <h3>Why bother?</h3>
            <p>For the most part, plastic bags stuck in trees are not harmful, but they are rather unsightly. However, the real benefit to mapping all of the bags in trees is the awareness that it brings to the problem of litter in our cities.</p>
        </div>
         <div class="question">
            <h3>Why bother?</h3>
            <p>For the most part, plastic bags stuck in trees are not harmful, but they are rather unsightly. However, the real benefit to mapping all of the bags in trees is the awareness that it brings to the problem of litter in our cities.</p>
        </div>
         <div class="question">
            <h3>Why bother?</h3>
            <p>For the most part, plastic bags stuck in trees are not harmful, but they are rather unsightly. However, the real benefit to mapping all of the bags in trees is the awareness that it brings to the problem of litter in our cities.</p>
        </div>
         <div class="question">
            <h3>Why bother?</h3>
            <p>For the most part, plastic bags stuck in trees are not harmful, but they are rather unsightly. However, the real benefit to mapping all of the bags in trees is the awareness that it brings to the problem of litter in our cities.</p>
        </div>
        
    </div>
</div>