<div class="bags-page" id="page-faq">
    <div class="container-fluid">
        <h4>Frequently Asked Questions</h4>
        <div class="thick-hr"></div>
        <div class="question">
            <h3>My Instagram didn't show up on the map where I took it. What happened?</h3>
            <p>When you take a photo with the Instagram app, it records your location when you submit the photo (after you have applied all filters and added your message and tag). If you took the photo with the Instagram app and continued walking, it will show up a few blocks down the street where you actually submitted the photo.</p>
            <p>Thankfully, your smartphone made a copy of the image and recorded its true location. If this happens, simply delete the photo from Instagram and add it again, this time selecting it from your phone's photos.</p>
        </div>
        
        <div class="question">
            <h3>I tagged my photo but it's not showing on the bag map.</h3>
            <p>There could be a few reasons for this:<br/>
            <ul>
                <li>make sure you have allowed Instagram to access your location and that on your mobile device, you enable your location services for your camera.</li>
                <li>It's possible that Bags In Trees hasn't yet picked up the most recent images. Give it a few minutes and refresh the map.</li>
                <li>Finally, browse the map near where you took the photo; you may find it nearby. It's possible that your phone didn't know your location 100% accurately.  Tall buildings can often cause your GPS location to be incorrect.</li>
            </ul>
            </p>
        </div>

        <div class="question">
            <p>
                <strong>For tips on getting started tagging bags, check out the <a href="#/tips">Tips page</a>.</strong>
            </p>
        </div>


        
    </div>
</div>
<div ng-include="'views/footer.html'"></div>