<div id="header" class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 pageTitle" id="pageTitle"><a href="" ng-click="goHome()">#bagsintrees</a>
            </div>
            <div class="col-xs-8">
                <div class="container-fluid" id="navigation">
                    <div class="row">
                        <div class="col-xs-8"></div>
                        <div class="col-xs-2"><a href="" ng-click="showMap()"><span class="fa fa-chevron-down fa-lg">&nbsp;Bag Map</span></a></div>
                        <div class="col-xs-2"><a href="#about"><span class="fa fa-chevron-down fa-lg">&nbsp;About</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>