<div id="header" class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 pageTitle" id="pageTitle"><a href="/">#bagsintrees</a>
            </div>
            <div class="col-xs-8">
                <div class="container-fluid" id="navigation">
                    <div class="row">
                        <div class="pull-right">
                            <span class="navItem"><a href="#/map"><span class="fa fa-chevron-down fa-lg">&nbsp;Bag Map</span></a></span>
                            <span class="navItem"><a href="#/about"><span class="fa fa-chevron-down fa-lg">&nbsp;About</span></a></span>
                            <span class="navItem"><a href="#/faq"><span class="fa fa-chevron-down fa-lg">&nbsp;FAQ</span></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>