<div id="page-tips" class="bags-page burst-background">
    <div class="page-container">
        <h4>Tips to Help You Get Started</h4>
        <div class="thick-hr"></div>

        <ul>
            <li><strong>Only take photos of a bag caught in a tree when it is safe to do so. Do not risk injury to get a photo.</strong></li>
            <li>For your photo to land on the bag map, we must know where it was taken. Be sure your phone isn't on airplane mode and that location services is enabled.</li>
            <li>When taking the photo, you have two options. You can either use the Instagram app or you can take the photo with you phone's camera and later post the photo to Instagram. If you choose to use the Instagram app to take the photo, be sure to take the photo and post it while in the same location. Instagram will record the location at the time the image is posted, not where it is taken. However, if you use your phone's camera, the GPS location is embedded in the photo and the Instagram app will use this location when choosing an existing photo.</li>
            <li>Always choose the "Add to Photo Map" option when posting to Instagram. If you don't select this item, your photo won't be GPS tagged.</li>
            <li>If the bag has a visible logo on it, attempt to make the logo prominent in the photo. Then, be sure to tag the store's name that the bag came from. ie. #Macys, or #Target. Tagging the company will make their litter show up in their Instagram feed.</li>
        </ul>

        <h3>Frequently Asked Questions</h3>
        <div class="question">
            <h3>My Instagram didn't show up on the map where I took it. What happened?</h3>
            <p>When you take a photo with the Instagram app, it records your location when you submit the photo (after you have applied all filters and added your message and tag). If you took the photo with the Instagram app and continued walking, it will show up a few blocks down the street where you actually submitted the photo.</p>
            <p>Thankfully, your smartphone made a copy of the image and recorded its true location. If this happens, simply delete the photo from Instagram and add it again, this time selecting it from your phone's photos.</p>
        </div>
        
        <div class="question">
            <h3>I tagged my photo but it's not showing on the bag map.</h3>
            <p>There could be a few reasons for this:<br/>
            <ul>
                <li>Make sure you have allowed Instagram to access your location and that on your mobile device, you enable your location services for your camera.</li>
                <li>It's possible that Bags In Trees hasn't yet picked up the most recent images. Give it a few minutes and refresh the map.</li>
                <li>Finally, browse the map near where you took the photo; you may find it nearby. It's possible that your phone didn't know your location 100% accurately.  Tall buildings can often cause your GPS location to be incorrect.</li>
            </ul>
            </p>
        </div>


        <br/>
        <strong>Thanks for your help tagging bags!</strong>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>