<div>
    <div id="page-main">
        <div class="bags-transparent-panel">
            <div><div class="numberCircle">1</div>&nbsp;Photograph a bag caught in a tree</div>
            <div><div class="numberCircle">2</div>&nbsp;Post it to Instagram with the tag #bagsintrees</div>
            <div><div class="numberCircle">3</div>&nbsp;Check it out on the bag map</div>
            
            <div><br/></div>
            <div class="neo-hr"></div>
            <div style="text-align: center">What Next?<br/>Scroll to learn more.<br/><span class="fa fa-angle-double-down fa-2x"></div>
        </div>
    </div>

    <div class="container-fluid next-panel" id="page-next">
        <div class="row">
            <br/>
            <h2>What Next?</h2>
            <div class="col-sm-7 col-inherit">
                <br/>
                Every image tagged with #bagsintrees is displayed on a map.<br/>Using the map, we'll be able to see the extent of the plastic pollution in trees throughout the world.
                <br/>
                <br/>
            </div>
            <div class="col-sm-5 col-inherit">
                <img src="../img/city-lines-pin.jpg">
            </div>
        </div>
        <div class="row" style="text-align: center;">
            What can this information be used for?
            <br/>
            <br/>
        </div>
    </div>
    <div class="container-fluid next-panel js-Parallaxify" id="page-next-3">
        <div id="page-next-3-inner">
            Cities throughout The United States and other countries are moving to ban or dis-incentivize the use of plastic bags. Data collected on #bagsintrees could potentially be used by groups promoting these causes to show the prevelance and distribution of bags in their area.<br/><br/>
            It could also be used to contrast areas with bag bans in place to those without such laws.<br/><br/>
            Know of a cause that could use this data? Send them an email, <a href="mailto:" class="whiteLink">telling them about Bags In Trees</a>.
        </div>
    </div>
    <div class="next-panel" id="page-next-2">
        <div id="page-next-2-inner">
            Cities can leverage the geo-located data to locate and retrieve bags.<br/><br/>
            This is already being done in New York by the "Bag Snaggers" at the <a href="http://www.nyrp.org/greening_sustainability/bag_snagging_program" target="blank">New York Restoration Project (NYRP)</a>.<br/>
            NYRP relies on phone calls and emails to locate the bags, but may be able to rely on #bagsintrees in the future.<br/><br/>
            Could your city do the same?
        </div>
    </div>
    <div class="next-panel js-Parallaxify" id="page-next-4">
        <div id="page-next-4-inner">
            I'm sure there are many other uses for this data<br/>that I haven't thought of.<br/>
            If you have any ideas, <a href="" ng-click="mailLink()" class="whiteLink">please share them with me</a>.
        </div>
    </div>
</div>
<script>
    new Parallaxify({
      elements: ".js-Parallaxify" // default
    , backgroundYMin: 100 // default
    , backgroundYMax: 0 // default
    }).registerUpdate()
</script>