
    <div class="version-mobile">
        <div class="centered segment-one full-height" id="segment-one">
            <div class="img-1"></div>
        
            <h1>Mapping Plastic Bag Pollution Around the World</h1>
            
                <table class="number-panel">
                    <tr >
                        <td><span class="number-circle">1</span></td>
                        <td class="number-text">Photograph a bag caught in a tree</td>
                    </td>
                    <tr>
                        <td><span class="number-circle">2</span></td>
                        <td class="number-text">Post it to Instagram with the tag #bagsintrees</td>
                    </tr>
                    <tr>
                        <td><span class="number-circle">3</span></td>
                        <td class="number-text">Check it out on the <a href="#/map" class="blackLink">bag map</a></td>
                    </tr>
                </table>
        
            <div class="neo-hr"></div>
            <div class="centered">What Next?<br/>Scroll to learn more.<br/>
                <a href="javascript:scrollNext('segment-two');" class="arrow-link"><span class="fa fa-angle-double-down fa-2x"></span></a>
            </div>
        </div>
        <div class="segment-two full-height" id="segment-two">
            <h2 class="section-title">What Next?</h2>
            
            <p>Every Instagram photo of a plastic bag in a tree, tagged with #bagsintrees, is displayed on our <a href="/#/map" class="whiteLink">bag map</a>. Using this map, we'll be able to see the extent of plastic pollution in trees throughout the world.</p>
            
            <p>Only a small percentage of the plastic bags that litter our cities become caught in trees. These bags in trees serve as an indicator of the level of plastic bag pollution in a given area.</p>                
                    
            
            <p><a href="/#/map" class="whiteLink">Take a look at the map</a> and see if people have tagged bags in trees in your city.</p>
            
            <div class="row centered">
                <br/>
                <a href="javascript:scrollNext('segment-three');" class="arrow-link"><span class="fa fa-angle-double-down fa-2x white"></span></a>
            </div>
        </div>
        <div class="red-bag-spacer"></div>
        <div class="container-fluid segment-three" id="segment-three">
            <h2 class="section-title">Why?</h2>
            <p ng-bind-html="content.segment3"></p>
            <br/>
            <div class="row centered">
                <a href="javascript:scrollNext('segment-four');" class="arrow-link"><span class="fa fa-angle-double-down fa-2x"></span></a>
            </div>
            
            <img src="img/bagsintrees-bag-icon-60.png" class="bag-icon">
        </div>
        <div class="container-fluid segment-four" id="segment-four">
            <h2 class="section-title">Bags In Trees Can be Cleaned Up</h2>
            <p ng-bind-html="content.segment4"></p>
            <br/>
            <div class="row centered">
                <a href="javascript:scrollNext('page-next-4');" class="arrow-link"><span class="fa fa-angle-double-down fa-2x"></span></a>
            </div>
        </div>
    </div>

    <div class="version-desktop">
        <div class="page-main">
            <div class="bags-transparent-panel">
                <div class="centered"><h1>Mapping Plastic Bag Pollution Around the World</h1></div>
                <div class="centered">
                    <div class="number-panel">
                        <div class="number-item row">
                            <div class="col-xs-2 number-circle">1</div>
                            <div class="col-xs-10 number-text">Photograph a bag caught in a tree</div>
                        </div>
                        <div class="number-item row">
                            <div class="col-xs-2 number-circle">2</div>
                            <div class="col-xs-10 number-text">Post it to Instagram with the tag #bagsintrees</div>
                        </div>
                        <div class="number-item row">
                            <div class="col-xs-2 number-circle">3</div>
                            <div class="col-xs-10 number-text">Check it out on the <a href="#/map" class="blackLink">bag map</a></div>
                        </div>
                    </div>
                </div>
                <div class="neo-hr"></div>
                <div class="centered">What Next?<br/>Scroll to learn more.<br/>
                    <a href="javascript:scrollNext('page-next');" class="arrow-link"><span class="fa fa-angle-double-down fa-2x"></span></a>
                </div>
            </div>
        </div>

        <div class="container-fluid page-next" id="page-next">
            <h2 class="section-title">What Next?</h2>
            <div class="flex-container">
                <div class="page-next-flex-text">
                    <p>Every Instagram photo of a plastic bag in a tree, tagged with #bagsintrees, is displayed on our <a href="/#/map" class="blackLink">bag map</a>. Using this map, we'll be able to see the extent of plastic pollution in trees throughout the world.</p>
                    
                    <p>Only a small percentage of the plastic bags that litter our cities become caught in trees. These bags in trees serve as an indicator of the level of plastic bag pollution in a given area.</p>                
                    
                </div>
                <div class="page-next-flex-img">
                    <img id="full-pin-img" src="../img/city-lines-pin.jpg">
                </div>
            </div>
            
            <div class="row">
                <p><a href="/#/map" class="blackLink">Take a look at the map</a> and see if people have tagged bags in trees in your city.</p>
            </div>
            <div class="row centered">
                <br/>
                <a href="javascript:scrollNext('page-next-2');" class="arrow-link"><span class="fa fa-angle-double-down fa-2x"></span></a>
            </div>
        </div>
        <div class="container-fluid js-Parallaxify" id="page-next-2">
            <div id="page-next-2-inner">
                <h2 class="section-title">Why?</h2>
                <p ng-bind-html="content.segment3"></p>
                <br/>
                <br/>

                <div class="row centered">
                    <a href="javascript:scrollNext('page-next-3');" class="arrow-link"><span class="fa fa-angle-double-down fa-2x"></span></a>
                </div>
            </div>
        </div>
        <div id="page-next-3">
            <div id="page-next-3-inner">
                <h2 class="section-title">Bags In Trees Can be Cleaned Up</h2>
                <p ng-bind-html="content.segment4"></p>
                <br/>
                <div class="row centered">
                    <a href="javascript:scrollNext('page-next-4');" class="arrow-link"><span class="fa fa-angle-double-down fa-2x"></span></a>
                </div>
            </div>
        </div>
    </div>
    <!--div class="mobile-hr"></div-->
    <div class="js-Parallaxify" id="page-next-4">
        <div id="page-next-4-inner">
            <h2 class="section-title">Get Started Tagging Plastic Bags!</h2>
            All you need is an Instagram account and your smart phone. However, be sure to check out the <a href="/#/tips" class="blackLink">bag tagging tips</a> to make sure every one of your photos of plastic bags in trees appears on the bag map!</a><br/><br/>
            To learn more about Bags In Trees and why plastic pollution is a big problem, read the <a href="/#/about" class="blackLink">About page</a>.<br/><br/>
            Finally, I'm sure there are many other uses for this data that I haven't thought of. Please <a href="" ng-click="mailLink()" class="blackLink">share your thoughts and ideas</a> with me..
        </div>
    </div>
<div ng-include="'views/footer.html'"></div>
<script>
    new Parallaxify({
      elements: ".js-Parallaxify" // default
    , backgroundYMin: 100 // default
    , backgroundYMax: 0 // default
    }).registerUpdate()
</script>