<div id="map-container">
    <div id="map-canvas"></div>
    <div id="map-detail">
        <div id="map-detail-inner">
            <a href="" ng-click="toggleMapDetail()" class="pull-right"><i class="fa fa-times fa-lg"></i></a>
            <br/>
            <img src="{{mapDetail.low_res_url}}"><br/>
            {{mapDetail.caption}}<br/>
            <em>bag tag by: {{mapDetail.user}}</em>
        </div>
    </div>
    <input type="checkbox" ng-click="toggleMapDetail()" style="position: absolute; z-index: 999999;">
</div>





caption: "#bagsintrees"created: "1398948656"id: "710755302959946021_1222882501"latitude: 42.36652longitude: -71.068611167low_res_url: "http://origincache-ash.fbcdn.net/926154_240634292804793_1764401783_a.jpg"thumbnail_url: "http://origincache-ash.fbcdn.net/926154_240634292804793_1764401783_s.jpg"user: "bagsintrees"