<div id="map-container">
    <div id="map-canvas"></div>
    <div class="map-detail pull-right">
        <div class="map-detail-inner">
            <img src="{{mapDetail.lowResUrl}}" class="map-detail-image" ng-show="mapDetail">
            <img src="img/loading.gif" class="map-detail-image" ng-hide="mapDetail">
            <span ng-show="mapDetail">
                <div class="font-medium">{{mapDetail.caption}}</div>
                <div class="font-small muted"><em>bag tagged by: <a href="/#/user/{{mapDetail.userId}}">{{mapDetail.userName}}</a></em><br/>
                    {{formatInstagramDate(mapDetail.created)}}
                    <span ng-if="mapDetail.locationName"><br/>{{mapDetail.locationName}}</span>
                    <a href="" ng-click="closeMapDetail()" class="pull-right size-boost" style="margin-right: 3px; margin-bottom: 3px;"><i class="fa fa-times"></i></a>
                </div>
            </span>
            <span ng-hide="mapDetail">
                <em>Loading bag details...</em>
            </span>
        </div>
    </div>
</div>
<div id="alert-box" style="position: absolute; top: 50%; left: 50%;">&nbsp;</div>