<div id="map-container">
    <div id="map-canvas"></div>
    <div class="map-detail pull-right">
        <div class="map-detail-inner">
            <img src="{{mapDetail.photo.lowResUrl}}" class="map-detail-image" ng-show="mapDetail" >
            <div class="photo-meta-data" ng-show="mapDetail">
                <div class="font-medium">{{mapDetail.photo.caption}}</div>
                <div class="font-small muted">
                    <div class="map-detail-load-mask">
                        <em>bag tagged by: <a href="/#/user/{{mapDetail.photo.userId}}">{{mapDetail.photo.userName}}</a></em><br/>
                        {{formatInstagramDate(mapDetail.photo.created)}}
                        <span ng-if="mapDetail.photo.locationName"><br/>{{mapDetail.photo.locationName}}</span>
                        <div ng-repeat="comment in mapDetail.comments">
                            <em><a href="/#/user/{{comment.userId}}">{{comment.name}}</a>: </em>{{comment.comment}}
                        </div>
                    </div>
                    <a href="" ng-click="closeMapDetail()" class="pull-right size-boost" style="margin-right: 3px; margin-bottom: 3px; padding-top: 8px; padding-left: 15px;"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="alert-box" style="position: absolute; top: 50%; left: 50%;">&nbsp;</div>