<div class="container-fluid">
    <h2>What Next?</h2>
    <p>Now that we've mapped all the bags in trees, what do we do with this information?</p>
    <p>First, I see it as a fun collaborative project to bring awareness to the issue of plastic pollution.</p>
    <p>However, I can imagine several practical uses for this data:</P>
    <ul>
        <li>Cities can leverage the geo-located data to locate and retrieve bags. This is already being done in New York by the "Bag Snaggers" at the <a href="http://www.nyrp.org/greening_sustainability/bag_snagging_program" target="blank">New York Restoration Project (NYRP)</a>. NYRP relies on phone calls and emails to locate the bags, but may be able to rely on #bagsintrees in the future. Could your city do the same?
        </li>
        <li>The movement to ban or dis-incentivize the use of plastic bags is underway in cities and counties through the United States and other countries. Data collected on #bagsintrees can be used by groups promoting these causes to show the prevelance and distribution of bags in thier area. It could also be used to contrast areas with bag bans in place to those without such laws.</li>
        <li>I'm sure there are many other uses out there. If you have any idea, <a href="" ng-click="mailLink()">please share it with me</a>.</li>
    </ul> 
</div>