<div id="page-recent" ng-controller="recentsController">
        <br/>
        <h4>Recent Bag Tags</h4>
        <div class="thick-hr"></div>
        <div style="text-align:center" width="100%">
            <div width="100%" class="recents">
                <span ng-repeat="bag in recentBags">
                    <span style="width:150px;">
                        <nobr>
                            <img src="../img/removed-check-30.png" ng-if="bag.isRemoved" class="removed-check">
                            <a href="/#/full/{{bag.id}}"><img src="{{bag.thumbnailUrl}}" class="bordered-img recent-img" style="vertical-align: inherit;" onError="this.src='../img/not-found.png'"></a>
                        </nobr>
                    </span>
                </span>         
            </div>
</div>
<div ng-include="'views/footer.html'"></div>