<div id="page-recent" ng-controller="recentsController">
    <br/>
    <h4>Recent Bag Tags</h4>
    <div class="thick-hr"></div>
    <div style="text-align:center" width="100%">
        <div width="100%" class="recents">
            <span ng-repeat="bag in recentBags" on-finish-render="ngRepeatFinished">
                <nobr>
                    <img src="../img/removed-check-30.png" ng-if="bag.isRemoved" class="removed-check" data-toggle="tooltip" title="This bag has been removed!">
                    <img src="../img/no-geo-tag-icon-30.png" ng-if="!bag.latitude" class="removed-check" data-toggle="tooltip" title="This image was not geo-tagged">
                    <a href="/#/full/{{bag.id}}"><img ng-src="{{bag.lowResUrl}}" class="bordered-img user-photo-img" style="vertical-align: inherit;" onError="this.onerror=null;this.src='../img/not-found.png'"></a>
                </nobr>
            </span>         
        </div>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>