<div id="page-tips" class="bags-page burst-background">
    <div class="page-container">
        <h4>Tips to Help You Get Started</h4>
        <div class="thick-hr"></div>

        <ul>
            <li><strong>Only take photos of a bag caught in a tree when it is safe to do so. Do not risk injury to get a photo.</strong></li>
            <li>For your photo to land on the bag map, we must know where it was taken. Be sure your phone isn't on airplane mode and that location services is enabled.</li>
            <li>When taking the photo, you have two options. You can either use the Instagram app or you can take the photo with you phone's camera and later post the photo to Instagram. If you choose to use the Instagram app to take the photo, be sure to take the photo and post it while in the same location. Instagram will record the location at the time the image is posted, not where it is taken. However, if you use your phone's camera, the GPS location is embedded in the photo and the Instagram app will use this location when choosing an existing photo.</li>
            <li>Always choose the "Add to Photo Map" option when posting to Instagram. If you don't select this item, your photo won't be GPS tagged.</li>
            <li>If the bag has a visible logo on it, attempt to make the logo prominent in the photo. Then, be sure to tag the store's name that the bag came from. ie. #Macys, or #Target. Tagging the company will make their litter show up in their Instagram feed.</li>
        </ul>

        <br/>
        <strong>Thanks for your help tagging bags!</strong>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>