<div id="page-recent" ng-controller="topTaggersController">
    <br/>
    <h4>Top Bag Taggers</h4>
    <div class="thick-hr"></div>
    <div width="100%" style="padding-left: 5%;">
        <div ng-repeat="user in topTaggers" class="row" style="padding-bottom: 3px;">
                <a href="/#/user/{{user.id}}"><img src="{{user.profilePicture}}" class="thumb pull-left" style="margin-right:5px;" width="150"></a>
        
                    <a href="/#/user/{{user.id}}">{{user.name}}</a>
                    <br/>
                    {{user.tagCount}} Bag<span ng-if="user.tagCount > 1">s</span> Tagged
            
        </div>
    </div>
<div ng-include="'views/footer.html'"></div>