<div id="page-recent" ng-controller="topTaggersController">
    <br/>
    <h4>Top Bag Taggers</h4>
    <div class="thick-hr"></div>
    <div width="100%" class="top-taggers-list">
        <div ng-repeat="user in topTaggers" class="row alternating-color-row" ng-click="goToUser(user)">
                <a href="/#/user/{{user.id}}"><img ng-src="{{user.profilePicture}}" class="pull-left user-photo" style="margin-right:5px;"></a>
        
                    <a href="/#/user/{{user.id}}">{{user.name}}</a>
                    <br/>
                    {{user.tagCount}} Bag<span ng-if="user.tagCount > 1">s</span> Tagged
            
        </div>
    </div>
<div ng-include="'views/footer.html'"></div>