<div id="page-user" class="bags-page" ng-hide="detailImageId">
    <div class="page-container">
        <div class="user-profile">
            <div class="flex-container">
                <div>
                    <img ng-src="{{user.profilePicture}}" class="user-profile-image bordered-img">
                </div>
                <div>
                    <div class="h7">{{user.name}}</div>
                    <div class="font-medium-large">{{user.tagCount}} Bag<span ng-if="user.tagCount > 1">s</span> Tagged</div>
                    <br/><a href="javascript: window.history.back();"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
    
        <div>
             <span ng-repeat="bag in userBags" on-finish-render="ngRepeatFinished">
                <span>
                    <nobr>
                        <img src="../img/removed-check-30.png" ng-if="bag.isRemoved" class="removed-check" data-toggle="tooltip" title="This bag has been removed!">
                        <img src="../img/no-geo-tag-icon-30.png" ng-if="!bag.latitude" class="removed-check" data-toggle="tooltip" title="This image was not geo-tagged">
                        <a href=""><img ng-src="{{bag.lowResUrl}}" class="bordered-img user-photo-img" style="vertical-align: inherit;" onError="this.onerror=null;this.src='../img/not-found.png'" ng-click="selectFullSize(bag)"></a>
                    </nobr>
                </span>
            </span>
        </div>
    </div>
</div>
<div ng-include="'views/fullSize.html'" ng-show="detailImageId"></div>
<div ng-include="'views/footer.html'"></div>