<div id="page-user" class="bags-page">
        <div class="flex-container">
            <div class="user-profile">
                <img src="{{user.profilePicture}}" class="user-profile-image"><br/>
                <div class="h7">{{user.name}}</div>
                <div class="font-medium-large"># of Bags Tagged: {{user.tagCount}}</div>
            </div>
            <div class="user-images">
                 <span ng-repeat="bag in userBags">
                    <span style="width:150px;">
                        <nobr>
                            <img src="../img/removed-check-30.png" ng-if="bag.isRemoved" class="removed-check">
                            <a href="/#/full/{{bag.id}}"><img  src="{{bag.thumbnailUrl}}" width="150" class="bordered-img" style="vertical-align: inherit;" onError="this.src='../img/not-found.png'"></a>
                        </nobr>
                    </span>
                </span>
            </div>
        </div>
</div>
<div ng-include="'views/footer.html'"></div>