/* 
orange: #ff-5d22;
teal: #43-c0f4;
dark teal: 266b6d;
*/

html { height: 100% }
body {  
    height: 100%;
    margin: 0;
    padding: 0;
    color: #3c3c3c;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #0978a7;
}
a:hover {
    color: #0978a7;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.right-align {
    text-align: right;
}

.neo-hr {
    margin-right: 30%;
    margin-left: 30%;
    border-top: 1px solid #fff;
}

#map-canvas { height: 600px; width: 100%;}

.header {
    width: 100%;
    height: 70px;
    background: rgb(164, 168, 117); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .5); /*(96, 170, 133, .7); 60/141/197*/
    padding-bottom: 8px;
    padding-left: 4px;
    border: 0;
}

.header-small {
    width: 100%;
    max-height:100px;
    background-color: #fff;
    padding-bottom: 8px;
    padding-left: 4px;
}

#footer {

    width: 100%;
    height: 200px;
    padding-top: 30px;
    background-image: url('../img/tree-bark-1.jpg');
    background-size: 100%;
    background-origin: content;
    
    text-align: center;
    color: #fff;
    /*border-top: 1px solid #3c3c3c;*/
}

.pageTitle {
    font-weight: 700;
    font-size: 63px;
    font-family: 'PT Sans';
    line-height: 1;
}

.pageTitle a {
    text-decoration: none;
    color: #3c3c3c;
}

.pageTitle a:hover {
    text-decoration: none;
    color: #0978a7;
}

#navigation {
    margin-top:17px;
    color: #4D4834;

}

#navigation a {
    color: #3c3c3c;
}

#navigation a:hover {
    text-decoration: underline;
    color: #0978a7;
}

.navItem {
    margin-right: 10px;
    margin-left: 10px;
}

.twitter-link {
    color: #9AE4E8;
}

#panel {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../img/city-bag.jpg');
    background-size: 100%;
    background-origin: content;
}

#page-main {
    padding: 100px 0 0 0;
    margin: 0px;
    width: 100%;
    height: 650px;

}

#page-about {
    color: #3c3c3c;
    font-size: 1.3em;
    /*background-image: url('../img/green_cup.png');
    background-origin: content;*/
}


.next-panel {
    font-size: 1.3em;
    min-height: 300px;
}

#page-next {
    background-color: #fff;
    text-align: center;
    /*background-image: url('../img/fresh_snow.png');
    background-origin: content;*/
}
#page-next-2 {
    padding-top: 40px;
    background-color: #96BEEB;

    text-align: center;
    /*background-image: url('../img/fresh_snow.png');
    background-origin: content;*/
}
#page-next-3 {
    padding-top: 40px;
    text-align: center;
    background-color: #fff;
}
#page-next-4 {
    padding-top: 40px;
    text-align: center;
    background-image: url('../img/photo.JPG');
    background-size: 100%;
    background-origin: content;
    background-position: 0 -700px;
}

#page-container {
    width: 100%;
    
    /*height: -moz-calc(100% - 90px);
    height: -webkit-calc(100% - 90px);
    height: -o-calc(100% - 90px);
    height: calc(100% - 90px);*/
}

.map-page {
    width: 100%;
    height: 100%;
    border-top: 1px solid #3c3c3c;
}

.bags-page {
    width: -moz-calc(100% - 100);
    width: -webkit-calc(100% - 100px);
    width: -o-calc(100% - 100px);
    width: calc(100% - 100px);
    min-height: 600px;
    margin: 50px;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .8);
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.bags-transparent-panel {
    font-family: 'Helvetica';
    font-size: 25px;
    margin: 0 auto;
    color: #fff;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(100, 100, 100, .35);
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 650px;
}

.bags-transparent-panel a {
    color: #3c3c3c;
    text-decoration: underline;
}

.bags-transparent-panel a:hover {
    color: #0978a7;
    text-decoration: underline;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 45px;
    height: 45px;
    padding: 3px;
    margin: 15px;

    background: #0978a7; 
    color: #ffffff;
    text-align: center;

    font: 35px Arial, sans-serif;
    display: inline-block;

}

.spacer45 {
    width: 45px;
    height: 45px;
    padding: 3px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 2px;
    font: 35px Arial, sans-serif;
    display: inline-block;
}

/* page transition animations */
.slide.ng-leave {
    -webkit-animation: moveToBottom .6s ease both;
    -moz-animation: moveToBottom .6s ease both;
    animation: moveToBottom .6s ease both;
}

.slide.ng-enter {
    -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveFromTop {
    from { -moz-transform: translateX(-100%); }
}
@keyframes moveFromTop {
    from { transform: translateX(-100%); }
}

@-webkit-keyframes moveToBottom {
    to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveToBottom {
    to { -moz-transform: translateX(100%); }
}
@keyframes moveToBottom {
    to { transform: translateX(100%); }
}
