/* 
orange: #ff-5d22;
teal: #43-c0f4;
dark teal: 266b6d;
blue: 0978a7;
*/

html { height: 100% }
body {  
    height: 100%;
    margin: 0;
    padding: 0;
    color: #3c3c3c;
    font-family: 'Helvetica', sans-serif;
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #0978a7;
}
a:hover {
    color: #0978a7;
}

h2 {
    font-size: 50px;
    text-align: center;
}

h3 {
    font-weight: bold;
}

h4 {
    text-align: center;
    font-size: 1.7em;
}
.font-small {
    font-size: 0.6em;
    line-height: normal;
}
.font-medium {
    font-size: 0.75em;
    line-height: normal;
}
.muted {
    color: #656565;
}
.arrowLink {
    color: #fff;
    text-decoration: underline;
}
.arrowLink:hover {
    color: orange;
    text-decoration: underline;
}
.right-align {
    text-align: right;
}
.neo-hr {
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 20px;
    border-top: 1px solid #fff;
}
.thick-hr {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30%;
    margin-left: 30%;
    border-top: 8px solid #0978a7;
}
.footer-hr {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5px;
    border-top: 1px solid #000;
}
.col-inherit {
    position: inherit;
}

/*******************
* platform dependent styles
*******************/

.whiteLink {
    color: #fff;
    text-decoration: underline;
}
.whiteLink:hover {
    color: orange;
    text-decoration: underline;
}
.pageTitle {
    line-height: 1;
    font-weight: 700;
    font-size: 2.9em;
}
.header-large {
    height: 70px;
}
.header-small {
    height: 70px;
}
#sticky-header {
    padding-bottom: 8px;
    padding-left: 4px;
    height: 70px;
}
.bags-transparent-panel {
    font-size: 25px;
    font-weight: 500;
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 650px;
}
.numberCircle {
    width: 45px;
    height: 45px;
    padding: 3px;
    margin: 15px;
    font: 35px Arial, sans-serif;
    font-weight: 700;
}
#page-main {
    padding: 200px 0 0 0;
    height: 650px;
    background-image: url('../img/city-bag-lg.jpg');
    background-size: 100%;
    margin-top: -100px;
}
.navigation {
    display: block;
}
.navigation-mobile {
    display: none;
}
#full-pin-img {
    display: block;
}
#mobile-pin-img {
    display: none;
}


@media (max-width: 900px) {
    /* medium */
    h2 {
        font-size: 50px;
    }
    .whitelink {
        color: #fff;
    }
    .pageTitle {
        line-height: 1;
        font-weight: 700;
        font-size: 2.3em;
    }
    .header-large {
        height: 60px;
    }
    .header-small {
        height: 60px;
    }
    #sticky-header {
        padding-bottom: 6px;
        padding-left: 4px;
        height: 60px;
    }
    #panel {
        background-image: url('../img/city-bag-900.jpg');
        background-size: 100%;
    }
    .bags-transparent-panel {
        font-size: 22px;
        font-weight: 450;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width: 550px;
    }
    .numberCircle {
        width: 40px;
        height: 40px;
        padding: 3px;
        margin: 15px;
        font: 33px Arial, sans-serif;
        font-weight: 700;
    }
    #page-main {
        padding: 90px 0 0 0;
        height: 450px;
    }
    .navigation {
        display: block;
    }
    .navigation-mobile {
        display: none;
    }
    #full-pin-img {
        display: block;
    }
    #mobile-pin-img {
        display: none;
    }
}

@media (max-width: 600px) {
    /* mobile */
    h2 {
        font-size: 30px;
    }
    .whitelink {
        color: #3c3c3c;
    }
    {
        font-size: 16px;
    }
    .pageTitle {
        line-height: 1;
        font-weight: 700;
        font-size: 1.4em;
    }
    .header-large {
        height: 35px;
    }
    .header-small {
        height: 35px;
    }
    #sticky-header {
        padding-bottom: 6px;
        padding-left: 4px;
        height: 35px;
    }
    #panel {
        background-image: url('../img/city-bag-600.jpg');
    }
    .bags-transparent-panel {
        font-size: 20px;
        font-weight: 500;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 90%;
    }
    .numberCircle {
        width: 30px;
        height: 30px;
        padding: 3px;
        margin: 8px;
        font: 20px Arial, sans-serif;
        font-weight: 500;
    }
    #page-main {
        margin-top: 35px;
        padding: 45px 0 0 0;
        height: 420px;
    }
    .navigation {
        display: none;
    }
    .navigation-mobile {
        display: block;
    }
    #full-pin-img {
        display: none;
    }
    #mobile-pin-img {
        display: block;
    }

    .mobile-hr {
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 14px;
        border-top: 1px solid #3c3c3c;
    }
}

/* ********************
 end size specific css 
 ******************** */

#map-container {
    width: 100%;
    height: 600px;
}
#map-canvas { 
    height: 90%;
    height: calc(100% - 120px);
    width: 100%;
    position: absolute;
}
.map-detail {
    position: absolute;
    width: 20%;
    right: 20px;
    background-color:rgba(255, 255, 255, 0.7);
    display: none;
    z-index: 999999;
    margin: 10px 10px 0px 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 4px #888888;
}
.map-detail-inner {
    margin: 4px;
}
.map-detail-image {
    width: 100%;
}

#sticky-header {
    width: 100%;
    position: fixed;
    z-index: 20;
    top:0;
    left:0;
    webkit-transition:all 0.8s ease-out;
    -moz-transition:all 0.8s ease-out;
    -o-transition:all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.header-large {
    background: rgb(255,255,255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .5); /*(96, 170, 133, .7); 60/141/197*/
}
.header-small {
    background-color: #fff; /* #e7e7e7 */
    border-bottom: 1px solid #bdbdbd;
}

#footer {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #000;
    font-size: 0.7em;
}

.pageTitle {
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
}

.pageTitle a {
    text-decoration: none;
    color: #3c3c3c;
}

.pageTitle a:hover {
    text-decoration: none;
    color: #0978a7;
}

.navigation {
    margin-top:17px;
    color: #4D4834;
}
.navigation a {
    color: #3c3c3c;
}
.navigation a:hover {
    text-decoration: underline;
    color: #0978a7;
}

.navigation-mobile {
    margin-top:4px;
    padding-top: 5px;
    color: #4D4834;
}
.navigation-mobile a {
    color: #3c3c3c;
}
.navigation-mobile a:hover {
    text-decoration: underline;
    color: #0978a7;
}

.navItem {
    margin-right: 10px;
    margin-left: 10px;
}

.twitter-link {
    color: #9AE4E8;
}

#panel {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-origin: content;
    background-repeat: no-repeat;
}

#page-main {
    margin: 0px;
    width: 100%;
}

.bags-transparent-panel {
    margin: 0 auto;
    color: #fff;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(100, 100, 100, .35);
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    background: #0978a7; 
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

#mobile-pin-img {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

#page-next {
    text-align: left;
    background-color: rgb(255,255,255);
    padding: 0 5% 0 5%;
    /*background-image: url('../img/tree-ring.jpg');
    background-size: 100%;
    background-origin: content;
    background-repeat: no;*/
}

.size-full #page-next-2 {
    height: 360px;
    background-color: #fff;
    background-image: url('../img/citySilhouette.jpg');
    background-repeat: no-repeat;
    background-origin: content;
}
.size-full #page-next-2-inner {
    height: 100%;
    padding-top: 1em;
    text-align: center;
    background-color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.9);
}
.size-medium #page-next-2 {
    height: 360px;
    background-color: #fff;
    background-image: url('../img/citySilhouette.jpg');
    background-repeat: no-repeat;
    background-origin: content;
}
.size-medium #page-next-2-inner {
    height: 100%;
    padding-top: 1em;
    text-align: center;
    background-color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.9);
}
.size-mobile #page-next-2 {
    height: 360px;
    background-color: #fff;
    background-image: url('../img/citySilhouette.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content;
    margin-bottom: 15px;
}
.size-mobile #page-next-2-inner {
    height: 100%;
    padding-top: 1em;
    text-align: center;
    padding: 2%;
    background-color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.9);
}

.size-full #page-next-3 {
    padding: 40px 10% 40px 10%;
    text-align: center;
    background-image: url('../img/bag-tree-4-lg.jpg');
    background-size: 100%;
    background-origin: content;
    background-repeat: no-repeat;
}

.size-full #page-next-3-inner {
    text-align: center;
    padding: 40px;
    color: #fff;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(100, 100, 100, .60);
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.size-medium #page-next-3 {
    padding: 40px 10% 40px 10%;
    text-align: center;
    background-image: url('../img/bag-tree-4-lg.jpg');
    background-size: 100%;
    background-origin: content;
    background-repeat: no-repeat;
}
.size-medium #page-next-3-inner {
    text-align: center;
    padding: 40px;
    color: #fff;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(100, 100, 100, .60);
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.size-mobile #page-next-3 {
    /*padding: 40px 10% 40px 10%;
    text-align: center;
    background-image: url('../img/bag-tree-4-lg.jpg');
    background-size: 100%;
    background-origin: content;
    background-repeat: no-repeat; */
}
.size-mobile #page-next-3-inner {
    text-align: center;
    padding: 2%;
    /*color: #fff;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    /* background: rgba(100, 100, 100, .60);
    -moz-border-radius: 12px;
    border-radius: 12px; */
}

.size-full #page-next-4 {
    height: 360px;   
    background-image: url('../img/bag-tree-3-lg.jpg');
    background-repeat: no-repeat;
    background-origin: content;
    text-align: center;
    padding: 40px 10% 40px 10%;
}
.size-full  #page-next-4-inner {
    text-align: center;
    padding: 40px;
    color: #fff;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(100, 100, 100, .60);
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.size-medium #page-next-4 {
    height: 360px;   
    background-image: url('../img/bag-tree-3-lg.jpg');
    background-repeat: no-repeat;
    background-origin: content;
    text-align: center;
    padding: 40px 10% 40px 10%;
}
.size-medium  #page-next-4-inner {
    text-align: center;
    padding: 40px;
    color: #fff;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(100, 100, 100, .60);
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.size-mobile #page-next-4 {
    height: 100px;   
}
.size-mobile  #page-next-4-inner {
    text-align: center;
    height: 100%;
    padding: 2%;
}

#page-container {
    width: 100%;
    min-height: calc(100% - 120px);
}

.map-page {
    width: 100%;
    height: 100%;
    border-top: 1px solid #3c3c3c;
}

#page-about-wrapper {
    background-image: url('../img/city-bag-3.jpg');
    background-origin: content;
    background-size: 100%;
    background-repeat: no-repeat;
}

#page-about {
    color: #3c3c3c;
    padding: 5%;
    background-color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.9);
}

#page-faq {
    color: #3c3c3c;
    min-height: 600px;
    height: 100%;
    padding: 5%;
    background-color: rgb(255,255,255);
    background-color: rgba(255, 255, 255, 0.9);
}

#page-404 {
    text-align: center;
    padding: 40px;
    min-height: 400px;
    color: #fff;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(100, 100, 100, .60);
    -moz-border-radius: 12px;
    border-radius: 12px;
}

/* page transition animations */
.slide.ng-leave {
    -webkit-animation: moveToBottom .6s ease both;
    -moz-animation: moveToBottom .6s ease both;
    animation: moveToBottom .6s ease both;
}

.slide.ng-enter {
    -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveFromTop {
    from { -moz-transform: translateX(-100%); }
}
@keyframes moveFromTop {
    from { transform: translateX(-100%); }
}

@-webkit-keyframes moveToBottom {
    to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveToBottom {
    to { -moz-transform: translateX(100%); }
}
@keyframes moveToBottom {
    to { transform: translateX(100%); }
}
