html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

.right-align {
    text-align: right;
}


#map-canvas { height: 98% }

.header {
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .7);
    padding-bottom: 8px;
    padding-left: 4px;
}

.header-small {
    width: 100%;
    max-height:100px;
    background-color: #fff;
    padding-bottom: 8px;
    padding-left: 4px;
}

.navItem {
    margin-right: 10px;
    margin-left: 10px;
}

.pageTitle {
    font-weight: 700;
    font-size: 63px;
    font-family: 'PT Sans';
    line-height: 1;
}

.pageTitle a {
    text-decoration: none;
    color: #000;
}

.pageTitle a:hover {
    text-decoration: none;
    color: #000;
}

#navigation {
    margin-top:17px;
}

.twitter-link {
    color: #9AE4E8;
}

#panel {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;

}

#page-main {
    padding: 100px 0 0 0;
    margin: 0px;
    width: 100%;
    background-image: url('../img/photo.JPG');
    background-size: 100%;
    background-origin: content;
}

#page-about {
    background-color: #c0c0c0;
    color: #FFF;
    font-size: 1.3em;
    background-image: url('../img/green_cup.png');
    background-origin: content;
}

#page-next {
    color: #000;
    font-size: 1.3em;
    background-image: url('../img/fresh_snow.png');
    background-origin: content;
}

#page-faq {
    color: #FFF;
    font-size: 1.3em;
    background-image: url('../img/scratchTexture.jpg');
    background-size: 100%;
    background-origin: content;
}

#page-map {

}

#page-container {
    width: 100%;
    /* Firefox */
    height: -moz-calc(100% - 70px);
    /* WebKit */
    height: -webkit-calc(100% - 70px);
    /* Opera */
    height: -o-calc(100% - 70px);
    /* Standard */
    height: calc(100% - 70px);
}

.bags-page {
    width: 100%;
    height: 100%;
}

.bags-transparent-panel {
    font-size:2em;
    color: #000;
    margin: 0 auto;
    /*position: fixed;
    top: 40%;
    left: 50%; 

    margin-top: -100px;
    margin-left: -325px; */
    background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .7);
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 650px;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 45px;
    height: 45px;
    padding: 3px;
    margin: 15px;

    background: orange;
    color: #fff;
    text-align: center;

    font: 35px Arial, sans-serif;
    display: inline-block;
}

.spacer45 {
    width: 45px;
    height: 45px;
    padding: 3px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 2px;
    font: 35px Arial, sans-serif;
    display: inline-block;
}

/* page transition animations */
.slide.ng-leave {
    -webkit-animation: moveToBottom .6s ease both;
    -moz-animation: moveToBottom .6s ease both;
    animation: moveToBottom .6s ease both;
}

.slide.ng-enter {
    -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
    position: absolute;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveFromTop {
    from { -moz-transform: translateX(-100%); }
}
@keyframes moveFromTop {
    from { transform: translateX(-100%); }
}

@-webkit-keyframes moveToBottom {
    to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveToBottom {
    to { -moz-transform: translateX(100%); }
}
@keyframes moveToBottom {
    to { transform: translateX(100%); }
}
