
@media (max-width: 900px) {
    /* medium */
    h1 {
        font-size: 22px;
        line-height: 1.5em;
    }
    h2 {
        font-size: 40px;
    }
    .whitelink {
        color: #fff;
    }
    .pageTitle {
        line-height: 1;
        font-weight: 700;
        font-size: 2.3em;
    }
    .header-large {
        height: 60px;
    }
    .header-small {
        height: 60px;
    }
    .site-logo {
        height: 60px;
    }
    #sticky-header {
        padding-bottom: 6px;
        height: 60px;
    }
    .bags-transparent-panel {
        font-size: 22px;
        font-weight: 400;
        -moz-border-radius: 10px;
        border-radius: 40px;
        width: 550px;
    }
    .number-circle {
        width: 40px;
        height: 40px;
        padding: 3px;
        margin: 15px;
        font: 33px Arial, sans-serif;
        font-weight: 700;
    }
    .number-text {
        height: 40px;
        padding-top: 3px;
        margin-top: 15px;
    }
    #index-container {
        margin-top: 60px;
    }
    #page-main {
        margin-top: -60px;
        
        background-image: url('../img/city-bag-900.jpg');
    }
    #page-next {
        height: calc(100% - 60px);
    }
    #page-next-2 {
        height: calc(100% - 60px);
    }
    #page-next-3 {
        height: calc(100% - 60px);
        background-image: url('../img/city-silhouette-960.png');
    }
    #page-next-4 {
        height: calc(100% - 60px);
    }
    .bags-page {
        padding: 40px 10px 10px 10px;
    }
    .navigation {
        display: none;
    }
    .navigation-mobile {
        margin-top: 30px;
        display: block;
    }
    #full-pin-img {
        display: block;
    }
    #mobile-pin-img {
        display: none;
    }
    .full-size-img {
        width: 500px;
    }
    .full-size-img-flex {
        flex: 0 0 500px;
    }
    .full-size-content-flex {
        flex: 0 0 400px;
    }

}