
@media  (max-width: 600px) {
    /* mobile */
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 18px;
        line-height: 1.2em;
    }
    h2 {
        font-size: 25px;
    }
    .h7 {
        font-size: 1.0em;
    }
    .whitelink {
        color: #fff;
    }
    .neo-hr {
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .thick-hr {
        margin-top: 10px;
        margin-bottom: 15px;
        margin-right: 5%;
        margin-left: 5%;
        border-top: 2px solid #006e00;
    }
    .pageTitle {
        line-height: 1;
        font-weight: 700;
        font-size: 1.6em;
    }
    .section-title {
        padding-bottom: 0px;
    }
    .header-large {
        height: 35px;
    }
    .header-small {
        height: 35px;
    }
    .site-logo {
        height: 35px;
        margin-right: -7px;
    }
    .arrow-link {
        padding-top: 4px;
    }
    .number-panel {
        padding: 0px;
        margin-left: 0px;
        font-size: 18px;
    }
    .number-item {
        padding-bottom: 12px;
    }
    #sticky-header {
        padding-bottom: 6px;
        padding-left: 4px;
        padding-right: 0px;
        height: 35px;
    }
    .bags-transparent-panel {
        font-size: 20px;
        font-weight: 500;
        -moz-border-radius: 4px;
        border-radius: 25px;
        width: 90%;
        padding: 1px 15px 8px 15px;
    }
    .number-circle {
        width: 30px;
        height: 30px;
        padding: 3px;
        margin: 8px;
        font: 20px Arial, sans-serif;
        font-weight: 500;
    }
    .number-text {
        height: 30px;
        padding-top: 3px;
        margin-top: 3px;
        font-size: 1.0em;
    }
    #page-container {
        margin-top: 35px;
    }
    #page-main {
        padding: 40px 0 0 0;
        height: calc(100% + 5px);
        margin-top: 35px;
        background-image: url('../img/city-bag-600.jpg');
    }
    .bags-page {
        padding: 20px 5px 5px 5px;
    }
    
    .burst-background {
        background-image: url('../img/starburst-background-m.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navigation {
        display: none;
    }
    .navigation-mobile {
        display: block;
    }
    #full-pin-img {
        display: none;
    }
    #mobile-pin-img {
        display: block;
    }
    .mobile-hr {
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 14px;
        border-top: 1px solid #3c3c3c;
    }
    #page-next {
        font-size: 1.0em;
        height: auto;
        min-height: calc(100% + 5px);
        padding: 10px 30px 10px 30px;
    }
    #page-next .col-sm-7 {
        padding: 0px;
    }

    #page-next-2 {
        height: auto;
        min-height: calc(100% + 5px);
        padding: 10px 5% 10px 5%;
    }
    #page-next-2-inner {
        font-size: 1.0em;
        padding: 2%;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    #page-next-3 {
        height: auto;
        min-height: calc(100% + 5px);
        background-size: cover;
        padding: auto;
    }
    #page-next-3-inner {
        font-size: 1.0em;
        padding: 2%;
    }
    #page-next-4 {
        height: auto;
        min-height: calc(100% + 5px);
        padding: 10px 5% 10px 5%;
    }
    #page-next-4-inner {
        font-size: 1.0em;
        padding: 2%;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .map-detail {
        right: 5px;
        margin: 2px 2px 0px 0px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        box-shadow: 3px 3px 2px #888888;
    }
    #about-img {
        width: 150px;
    }
    .inline-img-right {
        margin: 10px;
    }
    .user-profile-image {
        width: 80px;
    }
    .user-profile {
        width: 100px;
    }
    .user-images {
        width: calc(100% - 100px);
    }
    .thumb {
        width: 68px;
    }

}
