/* handheld catch all */
@media handheld {
	#page-main {
		background-image: url('../img/city-bag-iphone5.jpg');
	}
}
/* iPhone < 5: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#page-main {
		background-image: url('../img/city-bag-iphone4.jpg');
	}
}

/* iPhone 5: */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	#page-main {
		background-image: url('../img/city-bag-iphone5.jpg');
	}
}

/* iPhone 6: */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
	#page-main {
		background-image: url('../img/city-bag-iphone6.jpg');
	}
}

/* iPhone 6 Plus: */
@media only screen and (min-device-width : 540px) and (max-device-width : 960px) {
	#page-main {
		background-image: url('../img/city-bag-iphone6.jpg');
	}
}

/* iPad: */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  and (orientation: portrait) {
	#page-main {
		background-image: url('../img/city-bag-lg.jpg');
	}
  .navigation {
      display: none;
  }
  .navigation-mobile {
      display: block;
      margin-top: 30px;
  }
}

/* Nexus 7: */
@media only screen and (min-device-width : 604px) and (max-device-width : 966px)  {
  #page-main {
    background-image: url('../img/city-bag-lg.jpg');
  }
  .navigation {
      display: none;
  }
  .navigation-mobile {
      display: block;
      margin-top: 30px;
  }
}

/* Nexus 5: */
@media only screen and (min-device-width : 360px) and (max-device-width : 640px)  and (orientation: landscape) {
  .navigation {
      display: none;
  }
  .navigation-mobile {
      display: block;
      margin-top: 30px;
  }
}


/* full size page mobile layouts */

@media  (max-width: 1024px)  {
  .full-size-img {
    width: 500;
  }
  .full-size-img-flex {
    flex: 0 0 510px;
  }
  .full-size-content-flex {
    flex: 0 0 300px;
  }
}


@media  (max-width: 650px)  {
  .full-size-img {
    width: 100%;
  }
  .full-size-img-flex {
    flex: 0 0 100%;
  }
  .full-size-content-flex {
    flex: 0 0 100%;
  }
}


