
@media (max-width: 600px) {
    /* mobile */
    h2 {
        font-size: 30px;
    }
    .whitelink {
        color: #fff;
    }
    .pageTitle {
        line-height: 1;
        font-weight: 700;
        font-size: 1.4em;
    }
    .header-large {
        height: 35px;
    }
    .header-small {
        height: 35px;
    }
    #sticky-header {
        padding-bottom: 6px;
        padding-left: 4px;
        height: 35px;
    }
    .bags-transparent-panel {
        font-size: 20px;
        font-weight: 500;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 90%;
    }
    .numberCircle {
        width: 30px;
        height: 30px;
        padding: 3px;
        margin: 8px;
        font: 20px Arial, sans-serif;
        font-weight: 500;
    }
    #page-container {
        margin-top: 35px;
    }
    #page-main {
        padding: 45px 0 0 0;
        height: 420px;
        margin-top: 35px;
        background-image: url('../img/city-bag-600.jpg');
    }
    .bags-page {
        padding: 20px 5px 5px 5px;
    }
    .navigation {
        display: none;
    }
    .navigation-mobile {
        display: block;
    }
    #full-pin-img {
        display: none;
    }
    #mobile-pin-img {
        display: block;
    }

    .mobile-hr {
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 14px;
        border-top: 1px solid #3c3c3c;
    }
    .size-mobile #page-next-3 {
        background-size: cover;
        margin-bottom: 15px;
    }
    .size-mobile #page-next-3-inner {
        padding: 2%;
    }
    .size-mobile #page-next-2-inner {
        padding: 2%;
    }
    .size-mobile #page-next-4 {
        height: 100px;   
    }
    .size-mobile  #page-next-4-inner {
        text-align: center;
        height: 100%;
        padding: 2%;
    }
    .map-detail {
        right: 5px;
        margin: 2px 2px 0px 0px;
        border-radius: 3px;
        box-shadow: 3px 3px 2px #888888;
    }
    #about-img {
        width: 150px;
    }
    .inline-img-right {
        margin: 10px;
    }

}
