/**** Variables *****/
@orange: #ff5d22;
@teal: #43c0f4;
@dark-teal: #266b6d;
@blue: #0978a7;

@bit-grey: #3c3c3c;
@muted-grey: #656565;
@bit-grey-highlight: #4e4e4e;
@bit-light-grey: #d3d3d3;
@bit-very-light-grey: #ececec;

@bit-green: #297A4C;
@bit-green-highlight: #003D1B;

@bit-white: #ffffff;
@bit-black: #000000;
@twitter-teal: #9AE4E8;


@standard-header-height: 70px;
@medium-header-height: 60px;
@mobile-header-height: 40px;